@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.main-title{
  font-family: 'Press Start 2P', cursive;
  margin: 6px 6px 12px 10px;
  font-size: 2.3rem;
}

.icons{
  margin-bottom: 13px;
  margin-top: 13px;
}

i{
  margin-right: 15px;
  color: #a8b0bf;
}

i:hover{
  opacity: 0.8;
}